.App {
  text-align: center;
}
.avatar-img{
  border-radius: 50%;
  height: 40px;
}

.add-tag{
  background-color: #0191F8;
  display: flex;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: white;
}
.add-tag:hover{
  transition: ease-in 0.3s;
  background-color: #014f86;
}

table{
  text-align: start;
}

.appbar-title{
  padding: 0px 30px;
}

.tab-list {  
  display: flex;
  list-style-type: none;
  border-bottom: 1px solid #bfbfbf;

}

.tab-list-item {
  /* width: 60px; */
  height: 30px;
  padding: 10px 10px 10px 30px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  float: right;
  text-align: center;
  align-items: center;
}
.tab-list-active {
  border-bottom: solid #0191F8;
}

.tab-title{
  display: flex;
  flex-direction: column;
}

.tab-circle{
  position: absolute;
  left: 0;
  background-color: #e3f1fc;
  border-radius: 50%;
  padding: 1px;
  font-size: small;
  text-align: center;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  color: #0191F8;
  line-height: 20px;
  border: solid #b2dfff 1px;
}
.tab-content{
  padding: 10px 30px;
}
.main-content{
  display: flex;
  flex-direction: column;
  flex-grow: 20;
  justify-content: space-between;
}
.checkbox-task{
  border-radius: 10px;
  display: flex;
  flex-direction:row;
  align-items: center;
  
}
.checkbox-task :hover{
  border-radius: 10px;
  transition: ease-out 0.2s;
  background-color: #d6d6d6;
  cursor: pointer;
  
}

/* .checkbox-task input[type="checkbox"]{
  font-size: large;
  
}
.checkbox-task input[type="checkbox"]:checked{
  background-color: #d6d6d6;
} */
.checkbox-task label{
  font-size: medium;
  padding: 5px;
}
.checkbox-tags{
  margin-right: 6px;
  border-radius: 20px;
  background-color:rgb(209, 209, 209);
  align-items: center;
  text-align: center;
  height: 22px;
  padding: 0 5px 0 5px;
}
.content-title{
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content-title i{
  font-size: 30px;
  color: #014f86;
}
.content-title i:hover{
  font-size: 30px;
  color: #0084e2;
  cursor: pointer;
}